<div class="nouveaux-arrivants-container">
  <div class="nouveaux-arrivants-title">Nouveaux Arrivants</div>
  <ul class="nouveaux-arrivants-list">
    <!-- Utilisez 'firstName' et 'lastName' pour afficher le nom complet de l'arrivant -->
    <li class="nouveaux-arrivants-item" *ngFor="let arrivant of nouveauxArrivants; let i = index" [class.active]="i === currentSlideIndex">
      {{ arrivant.name }}
    </li>
  </ul>
  <!-- Pagination -->
  <div class="pagination">
    <!-- Génération des points de pagination pour chaque nouvel arrivant -->
    <span class="dot" *ngFor="let _ of nouveauxArrivants; let i = index" [class.active]="i === currentSlideIndex"></span>
  </div>
</div>
