// Utiliser le même conteneur que pour les visiteurs, avec une classe différente
.nouveaux-arrivants-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 16px;
    margin: 20px;
  }
  
  // Titre de la section, en supposant que vous souhaitez une couleur différente
  .nouveaux-arrivants-title {
    font-size: 24px;
    color:#d35400; // Changer la couleur si nécessaire
    margin-bottom: 15px;
  }
  
  // Liste des nouveaux arrivants avec les mêmes styles que les visiteurs
  .nouveaux-arrivants-list {
    list-style: none;
    padding-left: 0;
  }
  
  // Élément de liste individuel pour les nouveaux arrivants
  .nouveaux-arrivants-item {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  // Pagination avec les mêmes styles que les visiteurs
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  
    .dot {
      height: 10px;
      width: 10px;
      margin: 0 5px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
  
    .dot.active {
      background-color: #717171;
    }
  }
  