// Utiliser le même conteneur que pour les visiteurs, avec une classe différente
.nouveaux-arrivants-container {
  box-shadow: 0px 0px 15px 0.05px #838383;
    border-radius: 20px;
    background-color: #fff; 
    padding: 10px;
    padding-bottom: 0px; 
    color: #333; // couleur de texte générale
    font-size: 1em; // taille de texte générale
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width:100%;
    
  }
  
  // Titre de la section, en supposant que vous souhaitez une couleur différente
  .nouveaux-arrivants-title {
    font-size: 3.5vw; 
    font-family: 'Source Sans 3', sans-serif;
    color:#00333D;
    margin: 2%;
    margin-top: 3%;
    flex-shrink: 0;
    font-weight: bold;

  }
  



  // Liste des nouveaux arrivants avec les mêmes styles que les visiteurs
  .nouveaux-arrivants-list {
    list-style: none;
    padding-left: 0;
  }
  
  // Élément de liste individuel pour les nouveaux arrivants
  .nouveaux-arrivants-item {
    background-color: #f0f0f0;
    padding: 0.2%;
    border-radius: 5px;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  // Pagination avec les mêmes styles que les visiteurs
  .pagination {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
 

    .dot {
      height: 10px;
      width: 10px;
      margin: 0 5px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .dot.active {
      background-color: #717171;
    }
  }