<app-header></app-header>

<div class="container">
  <div class="top">
    <div class="element"><app-auj></app-auj></div>
    <div class="element"><app-demain></app-demain></div>
    <div class="element"><app-j1></app-j1></div>
    <div class="element"><app-j2></app-j2></div>
    <div class="element"><app-j3></app-j3></div>
  </div>
  <div class="bot">
    <div class="anniv">
      <app-anniv></app-anniv>
    </div>
    <div class="visiteursNouveauxArrivants">
      <app-visiteur-new-arrivant></app-visiteur-new-arrivant>
      </div>
    <div class="personnel">
      <app-personnel></app-personnel>
      
    
    </div>
  </div>
</div>

   