<!-- La structure pour afficher le nombre de collaborateurs présents sur le site (Nantes)-->
<div class="personne">
  <!-- Conteneur pour la première partie de l'information-->
  <div class="un">
    <!-- Affichage du nombre actuel de collaborateurs présents sur site -->
    <p class="nombre-present">{{numPresentToday}}</p>
  </div>
  <!-- Conteneur pour la deuxième partie de l'information -->
  <div class="deux">
    <!-- Paragraphe pour afficher le texte 'collaborateurs sur le site'-->
    <p class="personnes-text"> Collaborateurs sur le site</p>
  </div>
</div>
