.personne {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0.1px;
  box-shadow: 0px 0px 15px 0.05px #838383;
  border-radius: 20px;
  background-color: white;
  color: #E06029;
  padding:  15%;
}

.un {
  margin-top: 2.3vw;
  height: 50%; /* Ajustez la hauteur en fonction de vos besoins */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deux {
  height: 50%; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin-top: 3vw;
  align-items: center;
}

.nombre-present {
  font-size: 12vw;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: bold;
  color: #E06029;
  justify-content: center; 
  margin-bottom: 0.1em;
}

.personnes-text {
  position:relative;
  bottom: 5%;
  font-size: 2.2vw;
  line-height: 0.75;
  font-weight: bold;
  font-family: 'Source Sans 3', sans-serif;
  color:#00333D;
  justify-content: center; 
  text-align: center;
}
