<!-- Structure principale du composant affichant les informations sur le nombre de personnes présentes sur site (Nantes)-->
<div class="personne">

  <!-- Container pour la première partie de l'information -->
  <div class="un">
    <!-- Paragraphe affichant le nombre de personnes présentes (variable liée : numPresentToday) -->
    <p class="nombre-present">{{numPresentToday}}</p>
  </div>

  <!-- Container pour la deuxième partie de l'information -->
  <div class="deux">
    <!-- Paragraphe affichant le titre ou le libellé associé aux personnes présentes (variable liée : titre) -->
    <p class="personnes-text">{{titre}}</p>
  </div>
