nav img{
    width: 128px;
}

nav ul{
    float: right;
    list-style-type: none;
}

ul li{
    display: inline-block;
}

nav{
    width:auto;
    padding: 15px;
    background-color: white;
    box-shadow: 0px -5px 20px 1px #3d3d3d;
}


.conteneur-flex {
    display: flex; 
    align-items: center; /* Ajustez la valeur selon votre alignement vertical souhaité (center, flex-start, flex-end, etc.) */
}
