
  .carousel-slide {
    display: flex;
    transition: transform 0.36s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 16px;
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #f0f0f0;
    padding: 8px 16px;
    margin-bottom: 4px;
    border-radius: 4px;
  }
  
// Définition de la base du conteneur pour les visiteurs
.visiteurs-container {
  box-shadow: 0px 0px 15px 0.05px #838383;
    border-radius: 20px;
    background-color: #fff; 
    padding: 10px;
    padding-bottom: 0px; 
    color: #333; // couleur de texte générale
    font-size: 1em; // taille de texte générale
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width:100%;
    
  }
  
  // Titre de la section
  .visiteurs-title {
    font-size: 3.5vw; 
    font-family: 'Source Sans 3', sans-serif;
    color:#00333D;
    margin: 2%;
    margin-top: 3%;
    flex-shrink: 0;
    font-weight: bold;
    text-align: left;
  }
  
  // Liste des visiteurs
  .visiteurs-list {
    list-style: none; // enlève les puces
    padding-left: 0; // enlève le padding par défaut de la liste
  }
  
  // Élément de liste individuel
  .visiteurs-list-item {
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 8px;
    
    font-weight: bold;
  }
    
  .pagination {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
 

    .dot {
      height: 10px;
      width: 10px;
      margin: 0 5px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .dot.active {
      background-color: #717171;
    }
  }