@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap');
ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #f0f0f0;
    padding: 0.5em 1em;
    margin-bottom: 0.25em;
    border-radius: 0.25em;
  }
  
// Définition de la base du conteneur pour les anniversaires
.anniv-container {
    box-shadow: 0px 0px 15px 0.05px #838383;
    border-radius: 20px;
    background-color: #fff; 
    padding: 1%;
    padding-bottom: 0px; 
    color: #333; // couleur de texte générale
    font-size: 1em; // taille de texte générale
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width:100%;
    

  }
  
  // Titre de la section
  .anniv-title {
    font-size: 3.5vw; 
    font-family: 'Source Sans 3', sans-serif;
    color:#00333D;
    margin: 2%;
    margin-top: 3%;
    flex-shrink: 0;
    font-weight: bold;
  }
  
  //L'ensemble des anniversaires affiché sur la page
  .anniv-list {
    margin: 0px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-shrink: 1;
    max-width: 100%;
    max-height: 85%;

  }

  //Permet de libérer l'espace que prendrait les autres pages vides
  .anniv-list:empty {
    display: none;
  }
  
  // Eléments de chaque anniversaire (Photo + nom et date)
  .anniv-list-item {
    padding: 10/16em;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

    //Permet de libérer l'espace que prendrait un éléments vide (quand seulement 3 éléments)
  
  
  img{
    flex-shrink: 2;
    border-radius: 50%; //Rend l'image circulaire (si image de base carré)
    max-width: 100%; //permet de faire varier automatiquement la taille de l'image
    height: auto;
  }

  .items{
    font-weight: bold;
    border-radius: 5px; //Arrondie les coins
    flex-shrink: 1;
  }

  .pagination {
    display: flex;
    justify-content: center;
    justify-self: flex-end;

    .dot {
      height: 10px;
      width: 10px;
      margin: 0 5px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .dot.active {
      background-color: #717171;
    }
  }