  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #f0f0f0;
    padding: 8px 16px;
    margin-bottom: 4px;
    border-radius: 4px;
  }
  
// Définition de la base du conteneur pour les anniversaires
.anniv-container {
    background-color: #fff; 
    border-radius: 10px; // arrondi les coins du conteneur
    padding: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // pour ajouter l'ombre
    color: #333; // couleur de texte générale
    font-size: 16px; // taille de texte générale
    display: flex;
    flex-direction: column;
    
    //En attendant le positionement générale des éléments autour
    position: absolute;
    height: 275px;
    bottom: 20px;
    margin: 10px;
    width: 45%;
    

  }
  
  // Titre de la section
  .anniv-title {
    font-size: 24px; 
    color: #d35400; 
    margin-bottom: 15px;
    flex-shrink: 0;
  }
  
  //L'ensemble des anniversaires affiché sur la page
  .anniv-list {
    margin: 0px;
    display: flex;
    flex-direction: column;
    
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;
    
    min-width: 0px;
    min-height: 0px;

  }

  //Permet de libérer l'espace que prendrait les autres pages vides
  .anniv-list:empty {
    display: none;
  }
  
  //Elément groupé par 2
  .ensemble {
    background-color: #ffffff; // ou la couleur de fond de votre élément de liste
    border-radius: 5px; // arrondi des coins de l'élément de liste
    font-weight: bold; // si les noms des visiteurs sont en gras
    display: flex;
    flex-basis: auto;
    justify-content: space-around;
  }

  //Display pour une page avec 2 éléments ou moins
  .seul{
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  // Eléments de chaque anniversaire (Photo + nom et date)
  .anniv-list-item {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

    //Permet de libérer l'espace que prendrait un éléments vide (quand seulement 3 éléments)
  .anniv-list-item:empty {
    display: none;
  }
  
  img{
    flex-shrink: 2;
    border-radius: 50%; //Rend l'image circulaire (si image de base carré)
    max-width: 100%; //permet de faire varier automatiquement la taille de l'image
    height: auto;
  }

  .items{
    font-weight: bold;
    border-radius: 5px; //Arrondie les coins
    flex-shrink: 1;
  }

  .pagination {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    margin-top: 10px;

    .dot {
      height: 10px;
      width: 10px;
      margin: 0 5px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .dot.active {
      background-color: #717171;
    }
  }