<div class="anniv-container">
  <div class="anniv-title">Anniversaires</div>
  <ul class="anniv-list" *ngFor="let i of [].constructor(nbPage); let j = index">
    <ng-container *ngIf="j === currentPage">
      <div class="anniv-list-item" *ngFor="let anniv of getItemPage(j);">
        <div style="max-width:7em; margin-right: 5px">
          <img [src]="anniv['picture.href']" alt="Photo d'anniversaire">
        </div>
        <ul class="items">
          <li class="nom">{{ anniv.firstname }} {{ anniv.lastname }}</li>
          <li class="date">{{ anniv.birthDate | date: 'dd/MM/yyyy' }}</li>
        </ul>
      </div>
    </ng-container>
  </ul>
  <div class="pagination">
    <ng-container *ngIf="nbPage > 1">
      <span class="dot" *ngFor="let i of [].constructor(nbPage); let k = index" [class.active]="k === currentPage" (click)="currentPage = k"></span>
    </ng-container>
  </div>
</div>
